.pnt_global{
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1ch;
    background: var(--color-white);
    border: 4px solid transparent;
    box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
    cursor: pointer;
    background: linear-gradient(var(--color-white), var(--color-white)) padding-box, var(--glow), linear-gradient(black, black) border-box;
    transition: background-size 0.24;
    touch-action: none;
    position: relative;
    padding: 1rem 2rem;
    margin-right: 0.5rem;
}

.pnt_global::before {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: 0 1px hsl(0 0% 100% / 0.15%) inset;
    background: var(--color-white);
    z-index: 2;
    border-radius: 1rem;
}

.pnt_global span {
    background: var(--glow), black;
    background-clip: text;
    color: transparent;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    inset: 0;
}

:root:has(.pnt_global:active){
    --size: 300px
}

.pnt_global::after {
    content: '';
    position: absolute;
    inset: -4px;
    filter: blur(28px);
    background: var(--glow);
    border-radius: 1rem;
}