aside{
    height: auto;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 1.4rem;
    
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo img{
    width: 4rem;
    height: 4rem;
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}

aside .toggle button{
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: calc(100% + 2rem);
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:focus{
    display: none;
}

aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.4rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

.lastchild:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}


aside .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 0.6rem;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-2);
    margin-left: 0.3rem;
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 4px);
}

aside .sidebar a:hover:not(.active):before {
    content: '';
    width: 0.5rem;
    height: 40%;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-2);
}

aside .sidebar a:not(.active):hover{
    color: var(--color-primary);
    margin-top: 0.2rem;
}

aside .sidebar .message-count{
    background-color: var(--color-danger);
    padding: 0.12rem 0.37rem;
    color: var(--color-white);
    font-size: 0.7rem;
    border-radius: var(--border-radius-1);
}

// /*submenu*/

// .submenu:hover{
//     cursor: pointer;
// }

// .item:not(.active):hover { 
//     cursor: pointer;
// }

// .submenu-items{
//     display: none;
//     //position: relative!important;

//     left: calc(30% + 0.1rem);
//     margin-top: calc(-35% + 0.1rem);
//     background: var(--color-white);
//     border-radius: var(--border-radius-2);
//     transition: all 0.5s ease;
// }

// .submenu:hover .submenu-items{
//     display: block;
// }

// .item{   
//     width: 100%;
//     height: max-content;
//     padding: 1rem;
// }

.submenu:hover{
    cursor: pointer;
}

.item:not(.active):hover { 
    cursor: pointer;
}

.submenu-items{
    display: none;
}

.submenu:hover .submenu-items{
    display: block;
    position:relative; 
    margin-top: 1%;
    padding-left: 0.1rem;
   
   
}

.item{   
    width: 100%;
    height: max-content;
    padding: 1rem;
}