.footer {
    position: fixed;
    background-color: var(--color-white);
    color: var(--color-info-dark);
    padding:1.2rem;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    bottom: 0; 
    width: calc(60vw);
    transition: all 0.3s ease;
    gap: 1rem;
    z-index: 1; 
  }
  
  .footer p {
    margin: 0;
    text-align: center;
  }
  
  .footer a {
    color: var(--color-primary);
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
    box-shadow: none;
  }