.footer {
    background-color: var(--color-white);
    color: var(--color-info-dark);
    padding: 1rem;
    // border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    position: fixed;
    bottom: 0; 
    width: 98%;
    align-items: center;
    justify-content: space-between; 
    transition: all 0.3s ease;
    gap: 1rem;
    z-index: 0; 
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: var(--color-primary);
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
    box-shadow: none;
  }