.nav{ 
    width: 45%;
    height: 4.5rem;
    top: 0;
    right: 1.5rem;
    padding-top: 0.8rem;
    position: absolute; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 0.1rem;
    z-index: 2;    
}

.dark-mode{
    background-color: var(--color-light);
    display: flex;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.dark-mode svg{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-mode svg.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.dark-mode{
    margin-left: calc(1rem);
}

.menu-btn{
    display: none;
}

.submenu-items{
    margin-top: calc(-25% + 0.1rem);
}

.profile{
    display: flex;
    gap: 0.4rem;
    text-align: right;
    width: 13rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.containerNoti{   
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.notification{
    border: 0.2rem dashed var(--color-primary);
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
    padding: 1rem var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 1rem;
    
}

.notification:hover{
    box-shadow: none;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
} 

.icon{
    padding: 0.6rem;
    color: var(--color-white);
    background-color: var(--color-success);
    border-radius: 40%;
    display: flex;

}

.notification.deactive .icon{
    background-color: var(--color-danger);
}

.add-reminder{
    background-color: var(--color-white);
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-reminder:hover{
    background-color: var(--color-primary);
    color: white;
}

.add-reminder div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}