.container{
    //grid-template-columns: calc(14vw) calc(58vw) calc(20vw);
    grid-template-columns: calc(14vw) calc(78vw);
    justify-items: center;
    margin-left: calc(1vw);
    margin-right: calc(1vw);
}

main{
    width: 95%;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

main .containerMain{
    margin-top: 1.3rem;
    max-height: calc(100% + 1rem); 

}

main .containerMain h2{
    margin-bottom: 0.8rem;
}

main .containerMain a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}
