main{
    margin-top: 5rem;
    margin-bottom: 0rem;
}

main .containerMain{
    margin-top: 1.3rem;
    max-height: 80vh; 

}

main .containerMain h2{
    margin-bottom: 0.8rem;
}

main .containerMain a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}
