main{
    width: 98%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

main .containerMain{
    margin-top: 1rem;
    max-height: calc(100% + 1rem); 

}

main .containerMain h2{
    margin-bottom: 0.8rem;
}

main .containerMain a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}
