@media screen and (max-width: 1360px){
    .currentlist {
        margin-left: calc(4rem);
    }
}

@media screen and (max-width: 1200px) {

    .container-app{
        grid-template-columns: 10% 90%; 
        gap: 0.1rem;    
    }

    .logo{
        flex-direction: column;
        align-items: center;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    .lastchild:last-child{
        position: relative;
        margin-top: 1.8rem;
    }  
    
    .currentlist {
        margin-left: calc(4rem);
    }
    /*Current order*/
    .currentlist {
        margin-left: calc(2rem);
        width: 32rem;
    }
    .numlist{
        margin-top: calc(-1rem);
        margin-right: calc(1rem);
    }
    .title{
        font-size: calc(2rem);
    }
    .boton{
        margin-left: calc(7rem);
    }
    .contect2 span{
     font-size: calc(0.975rem);
    }
    .Nombr{
        font-size: calc(0.875rem);
    }
    .caj{
        margin-top: calc(0.2rem);
        width: calc(2rem);
        height: calc(2rem);
    }
    .ico{
        margin-top: calc(-0.3rem);
        padding-left: calc(0.5rem);
    }
    
    /*clasificacio de lista */
    .ClasList{
        margin-left: calc(6rem);
    }
    
}

@media screen  and (max-width:1000px){

    .container-app{
        grid-template-columns: 10% 85%; 
        gap: 0;  
        justify-items: center; 
    }
    aside{
        width: 5.8rem;  
    }
     /*Current order*/
    .currentlist {
        margin-left: calc(-2rem);
    }
    .title{
        font-size: calc(1.5rem);
        margin-left: calc(1rem);
    }
    .boton{
        margin-left: calc(5.5rem);
    }
   
    .contect2 span{
        font-size: calc(0.775rem);
       }
    .Nombr{
        font-size: calc(0.775rem);
    }
    .img_prd{
        width: 2rem;
        height: 2rem;
    }
     /*clasificacio de lista */
     .ClasList{
        margin-left: calc(2rem);
    }
    
}

@media screen and (max-width: 790px) {

    .container-app{
        grid-template-columns: calc(95vw);
        justify-items: center;
    }

    aside{
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
       to{
        left: 0;
       } 
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    .lastchild:last-child{
        position: absolute;
        bottom: 2rem;
    }

    aside .toggle .x-close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 3rem;
       
    }

    main .new-users .user-list .user{
        flex-basis: 35%;
    }

    .nav{
        width: 100%;
        height: 4.6rem;
        top: 0;
        right: 0;
        padding-top: 0.8rem;
        padding-right: 4rem;
        position: absolute; 
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: stretch;
        gap: 2rem;
        z-index: 2; 
        background-color: var(--color-white);
        box-shadow: 0 1rem 1rem var(--color-light);
        
    }

    .menu-btn{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem; 
        margin-right: 10rem;    
    }

    .menu-btn span{
        font-size: 2rem;
    }

    .submenu-items{
        margin-top: calc(-25% + 0.1rem);
    }
   
}

@media screen  and (max-width:680px){

    .profile .info{
        display: none;
    }

    .nav{
        padding-left: 15rem;
        gap: 1rem;      
    }  
    
    /*Current Order*/
    .currentlist {
        margin-left: calc(-3.5rem);
        margin-right: -1rem;
    }
  
    .title{
        font-size: calc(1.4rem);
    }
    .boton{
        margin-left: calc(5rem);
    }
    .contect2{
        margin-left: -4rem;
    }
    /*clasificacio de lista*/
    .ClasList{
        margin-left: calc(0.5rem);
    }
   
}
    

@media screen  and (max-width:639px){
    .nav{
        padding-left: 10rem;
        gap: 1rem;      
    } 
     /*Current Order*/
     .currentlist {
        margin-left: calc(4rem);
    } 
    .Nombr{
        margin-left: 0.6rem;
        font-size: calc(0.975rem);
    }
    .contect2 span{
        font-size: calc(0.975rem);
       }
    .punt1{
        order: 2;
     }
     .punt2{
      order: 1;
     } 
     /*clasificacio de lista*/
    .ClasList{
        margin-left: calc(1.8rem);
    }
}
@media screen  and (max-width:560px){
    /*Current Order*/
    .currentlist {
        margin-left: calc(2rem);
    } 
    /*clasificacio de lista*/
    .ClasList{
        margin-left: calc(8rem);
    }
}


  

