.right-section{
    margin-top: 1.4rem;
    margin-bottom:10rem;
    z-index: 0;
}

.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right-section .nav button{
    display: none;
}

.right-section .dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    margin-left: -8rem;
}

.right-section .dark-mode span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .dark-mode span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

 .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}
 

 .profile .profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.right-section .reminders{
    margin-top: 2rem;

}


.icoNoti{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.icoNoti span{
    padding: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    border-radius: 50%;
    color: var(--color-primary);
    cursor: pointer;
}

.containerNoti{
    margin-top: 2%;
}


.containerNoti .notification{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.containerNoti .notification:hover{
    box-shadow: none;
}

.containerNoti .notification .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}   


.containerNoti .notification .icon{
    padding: 0.6rem;
    color: var(--color-white);
    background-color: var(--color-success);
    border-radius: 20%;
    display: flex;
}

.containerNoti .notification.deactive .icon{
    background-color: var(--color-danger);
}

.containerNoti .add-reminder{
    background-color: var(--color-white);
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.containerNoti .add-reminder:hover{
    background-color: var(--color-primary);
    color: white;
}

.containerNoti .add-reminder div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}